asgiref==3.8.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.8.3
click==8.2.1
Django==5.2.1
django-debug-toolbar==6.0.0
django-filter==25.1
djangorestframework==3.14.0
docutils==0.22
drf-spectacular==0.28.0
flake8==7.3.0
flake8-docstrings==1.7.0
Flask==3.1.1
Flask-DebugToolbar==0.16.0
gnu==0.0.1
include==0.2.2
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
mccabe==0.7.0
pillow==11.3.0
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.27.0
sentry-sdk==2.35.0
setuptools==80.9.0
snowballstemmer==3.0.1
sqlparse==0.5.3
uritemplate==4.2.0
urllib3==2.5.0
Werkzeug==3.1.3
