{% extends 'shopapp/base.html' %}

{% block title %}
  Products list
{% endblock %}

{% block body %}
  <h1>Products:</h1>

  {% if perms.shopapp.add_product %}
    <a href="{% url 'shopapp:product_create' %}">Создать продукт</a>
  {% endif %}

  {% if products %}
  <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%; margin-top: 20 px;">
    <thead style="background-collor: #f2f2f2;">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Created by</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{% firstof product.discount 'no discount' %}</td>
          <td>{{ product.created_by.username}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h3>No products yet</h3>
  {% endif %}
{% endblock %}

