{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
  About me
{% endblock %}



{% block body %}
  <h1>User info</h1>
  <div>
    Products available: {% now "u" %}
  </div>
  {% if user.is_authenticated %}
    {% cache 300 userinfo user.username %}
      <h2>Detail</h2>
      <p>Username: {{ user.username }}</p>
      <p>First name: {{ user.first_name }}</p>
      <p>Last name: {{ user.last_name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Bio: {{ user.profile.bio }}</p>
    {% endcache %}
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
  {%if profile.avatar %}
    <img src="{{ profile.avatar.url }}" alt="Avatar" width="150">
  {% else %}
    <p>No avatar uploaded.</p>
  {% endif %}
  <h2>Change avatar</h2>
  <form action="post" enctype="multipart/form-data/">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
