<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      Title
    </title>
</head>
<body>
{% block body %}
  {% if article_list %}
    <div>
      {% for article in article_list %}
        <div>
          <p>Article title {{ article.title }}</p>
          <p>Date publication {{ article.date }}</p>
          <p>Name author {{ article.name }}</p>
          <p>Category {{ article.category }}</p>
          <p>Tags {{ article.tags }}</p>
        </div>
    </div>
{% endblock %}
</body>
</html>